<h1>w a t e r l e m o n | a g e n c y</h1>
<p>presents you</p>


<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">

	<% @medias.each do |media| %>

		<div class="card" style="width: 300px;">

			<div class="card-body">

				<img src="<%= media.url %>" style="width: 100%; height: auto;">

			</div>

			<div class="card-footer" style="display: flex; flex-direction: row; justify-content: space-between;">

				<div >

					<%= media.title %>
						
				</div>

				<div>
					
				$	<%= media.price %>
						
				</div>

			</div>

		</div>

	<% end %>

</div>
