<<<<<<< HEAD

<h1>Mon panier</h1>


<p>Find me in app/views/carts/new.html.erb</p>
=======
<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>
>>>>>>> da476c4a504d2da84fd81152177d71f05c69e51d
