<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Grand maître web, bonjour.</p>
    <p>L'utilisateur <% @user.email%> a passé la commande suivante:</p>
    <% @cart.medias.each do |media| %>
      <p><%= media.name%></p>
    <% end %>
    <p>Aurevoire</p>
  </body>
</html>