/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 .container {
   margin-bottom: 75px;
 }

 /*.navbar {
    min-height: 180px;
 }*/

 .navbar-brand {
    padding: 0 15px;
    /* height: 180px; */
    line-height: 80px;
 }

.footer-margin-top {
   margin-top: "100px";
 }

.background-light-blue {
    background-color: #d9eee8;
 }

 .nav-item {
    margin-right: 15px;
    margin-left: 15px;
 }

.member-top {
   margin-top: 20px;
   margin-bottom: 40px;
}

h1 {
   margin-bottom: 45px;
 }

.background-block {
   display: flex;
   justify-content: space-between;
}

.actions editing {
   margin-top: 15px;
}

.actions editing div {
   margin: 0 10px 0 10px ;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5a5a5a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin-bottom: 20px;
}

#flex-flex-end  {
   display: flex;
   justify-content: flex-end;
}

#supprimer-mon-compte {
   margin-left: 20px;
   margin-right: 120px;
}

#button-center  {
   display: flex;
   justify-content: left;
}

.container-buttons {
   width: 100%;
   display: flex;
   justify-content: space-around;
 }
 