/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 .container {
   margin-bottom: 75px;
 }

 /*.navbar {
    min-height: 180px;
 }*/

 .navbar-brand {
    padding: 0 15px;
    /* height: 180px; */
    line-height: 80px;
 }

.footer-margin-top {
   margin-top: "100px";
 }

.background-light-blue {
    background-color: #d9eee8;
 }

 .nav-item {
    margin-right: 15px;
    margin-left: 15px;
 }

.member-top {
   margin-top: 20px;
   margin-bottom: 40px;
}

h1 {
   margin-bottom: 45px;
 }

.background-block {
   display: flex;
   justify-content: space-between;
}

.actions editing {
   margin-top: 15px;
}

.actions editing div {
   margin: 0 10px 0 10px ;
}

/* Flash */

.error, .alert, .info {
   border-radius: 3px;
   font-size: 1.2rem;
   margin-bottom: 5px;
   margin-top: 36px;
   color: orange;
 }
 
 .success, .notice {
   border-radius: 3px;
   font-size: 1.2rem;
   margin-bottom: 5px;
   margin-top: 36px;
   color: rgb(134, 226, 134);
 }

 #homepage-price {
    color: #78C2AD;
    font-weight: 700;
 }

 #homepage-cat-name {
   font-weight: 500;
   color: #5A5A5A;
 }